<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <title>Kitap Adı - Yazar</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
    rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->
  <!-- Header -->
  <%- include('partials/header') %>


    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Kitap ismi ile ara
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex align-items-center">
            <div class="input-group w-75 mx-auto d-flex">
              <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" />
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Search End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5"></div>
    <!-- Single Page Header End -->

    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
      <div class="container py-5">
        <div class="row g-4 mb-5">
          <div class="col-lg-8 col-xl-9">
            <div class="row g-4">
              <div class="col-lg-6">
                <div class="border rounded">
                  <a href="#">
                    <img src="img/martin-eden.jpg" class="img-fluid rounded" alt="Image" />
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <h4 class="fw-bold mb-3">Martin Eden</h4>
                <p class="mb-3">Jack London</p>
                <h5 class="fw-bold mb-3">Türkiye İş Bankası Yayınları</h5>
                <div class="d-flex mb-4">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p class="mb-4">
                  Jack London’ın yarı otobiyografik romanı Martin Eden, 20.
                  yüzyıl başında sosyal ve ideolojik meseleler ağırlıklı
                  içeriğiyle Amerikan edebiyatında büyük ölçüde kabul görmüştür.
                  London farklı sınıflar arasındaki zihniyet ve değer farklarını
                  gözlerimizin önüne sererken, statü ve servetin Amerikan
                  toplumundaki hayati önemine işaret eder. Romanın ana
                  temalarından biri, başarı ve refah yolunun sosyal sınıf farkı
                  gözetilmeksizin herkese açık olduğu şeklinde özetlenebilecek
                  Amerikan Rüyası’dır. Ya da bu idealin yarattığı muazzam hayal
                  kırıklığı…
                </p>
                <p class="mb-4">
                  London, romanı bir sanatçının çıraklıktan olgunluğa geçiş
                  sürecini işleyen Künstlerroman geleneğinde yazmıştır.
                  Martin’in aşkı uğruna eğitimsiz genç bir işçiden başarılı ve
                  rafine bir yazara dönüşüm mücadelesini anlatır. Kahramanı
                  hedefine ulaştığında ise motivasyonunu ve heyecanını çoktan
                  yitirmiş, trajik bir sona doğru sürüklenmektedir artık…
                </p>

                <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i>
                  Listelerime Ekle</a>
              </div>
              <div class="col-lg-12">
                <nav>
                  <div class="nav nav-tabs mb-3">
                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                      id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" aria-controls="nav-about"
                      aria-selected="true">
                      Açıklama
                    </button>
                    <button class="nav-link border-white border-bottom-0" type="button" role="tab" id="nav-mission-tab"
                      data-bs-toggle="tab" data-bs-target="#nav-mission" aria-controls="nav-mission"
                      aria-selected="false">
                      Yorumlar
                    </button>
                  </div>
                </nav>
                <div class="tab-content mb-5">
                  <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <p>
                      Jack London’ın yarı otobiyografik romanı Martin Eden, 20.
                      yüzyıl başında sosyal ve ideolojik meseleler ağırlıklı
                      içeriğiyle Amerikan edebiyatında büyük ölçüde kabul
                      görmüştür. London farklı sınıflar arasındaki zihniyet ve
                      değer farklarını gözlerimizin önüne sererken, statü ve
                      servetin Amerikan toplumundaki hayati önemine işaret eder.
                      Romanın ana temalarından biri, başarı ve refah yolunun
                      sosyal sınıf farkı gözetilmeksizin herkese açık olduğu
                      şeklinde özetlenebilecek Amerikan Rüyası’dır. Ya da bu
                      idealin yarattığı muazzam hayal kırıklığı…
                    </p>
                    <p>
                      London, romanı bir sanatçının çıraklıktan olgunluğa geçiş
                      sürecini işleyen Künstlerroman geleneğinde yazmıştır.
                      Martin’in aşkı uğruna eğitimsiz genç bir işçiden başarılı
                      ve rafine bir yazara dönüşüm mücadelesini anlatır.
                      Kahramanı hedefine ulaştığında ise motivasyonunu ve
                      heyecanını çoktan yitirmiş, trajik bir sona doğru
                      sürüklenmektedir artık…
                    </p>
                    <div class="px-2">
                      <div class="row g-4">
                        <div class="col-6">
                          <div class="row bg-light align-items-center text-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Çevirmen</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">Levent Cinemre</p>
                            </div>
                          </div>
                          <div class="row text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Yılı</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">2014</p>
                            </div>
                          </div>
                          <div class="row bg-light text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">ISBN</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">9786053322122</p>
                            </div>
                          </div>
                          <div class="row text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Genişlik</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">12,5</p>
                            </div>
                          </div>
                          <div class="row bg-light text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Yükseklik</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">20,5</p>
                            </div>
                          </div>
                          <div class="row text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Sayfa Sayısı</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">528</p>
                            </div>
                          </div>
                          <div class="row bg-light text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Dil</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">Türkçe</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                    <div class="d-flex">
                      <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px"
                        alt="" />
                      <div class="">
                        <p class="mb-2" style="font-size: 14px">
                          March 24, 2024
                        </p>
                        <div class="d-flex justify-content-between">
                          <h5>kitap_severr</h5>
                          <div class="d-flex mb-3">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p>
                          Hayatımda okuduğum ve en çok etkilendiğim ilk 3
                          kitabın arasında yerini aldı. Kitabı elinizden
                          bırakmadan okuyorsunuz. Zaten Jack London'un
                          yazarlığını bilen bilir. Olağan üstü bir eser olmuş.
                        </p>
                      </div>
                    </div>
                    <div class="d-flex">
                      <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px"
                        alt="" />
                      <div class="">
                        <p class="mb-2" style="font-size: 14px">
                          July 10, 2023
                        </p>
                        <div class="d-flex justify-content-between">
                          <h5>bheabde</h5>
                          <div class="d-flex mb-3">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p class="text-dark">
                          Bu yaz okuduğum en güzel kitaptı. Martin Eden günden
                          güne mutsuz olurken ben onu daha çok sevdim.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="nav-vision" role="tabpanel">
                    <p class="text-dark">
                      Tempor erat elitr rebum at clita. Diam dolor diam ipsum et
                      tempor sit. Aliqu diam amet diam et eos labore. 3
                    </p>
                    <p class="mb-0">
                      Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam
                      et eos labore. Clita erat ipsum et lorem et sit
                    </p>
                  </div>
                </div>
              </div>
              <form action="#">
                <h4 class="mb-5 fw-bold">Sen ne düşünüyorsun?</h4>
                <div class="row g-4">

                  <div class="col-lg-12">
                    <div class="border-bottom rounded my-4">
                      <textarea name="" id="" class="form-control border-0" cols="30" rows="8"
                        placeholder="Yorumunu buraya yaz *" spellcheck="false"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-between py-3 mb-5">
                      <div class="d-flex align-items-center">
                        <p class="mb-0 me-3">Puanla</p>
                        <div class="d-flex align-items-center" style="font-size: 20px">
                          <i class="fa fa-star text-muted"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3">
                        Yorumunu Paylaş</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3">
            <div class="row g-4 fruite">
              <div class="col-lg-12">
                <div class="input-group w-100 mx-auto d-flex mb-4">
                  <input type="search" class="form-control p-3" placeholder="Kitap adı girin"
                    aria-describedby="search-icon-1" />
                  <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>

              </div>
            </div>

            <div class="col-lg-12">
              <div class="position-relative">
                <img src="img/yazar-route.jpg" class="img-fluid w-100 rounded" alt="" />
                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%)">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="fw-bold mb-0">Benzer Kitaplar</h1>
      <div class="vesitable">
        <div class="owl-carousel vegetable-carousel justify-content-center">
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-1.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-3.png" class="img-fluid w-100 rounded-top bg-light" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Banana</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-4.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Bell Papper</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Potatoes</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Potatoes</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Single Product End -->

    <!-- Footer -->
    <%- include(footer) %>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>