<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama</title>
    <link href="css/style.css" rel="stylesheet" />
    
    <script>
        function validateForm() {
            var password = document.getElementById("new-password").value;
            if (password.length < 6) {
                alert("Şifre en az 6 karakter olmalıdır.");
                return false;
            }
            return true;
        }
    </script>

</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            
            <div class="title signup">Şifre Sıfırlama</div>
        </div>
        <div class="form-container">
            
            <div class="form-inner">
               
                <!--Giriş Kısmı-->
                <form action="/forgot-password" method="post" onsubmit="return validateForm()">
                    <div class="field">
                        <input type="text" id="username" name = "username" placeholder="İsim" required>
                    </div>
                    <div class="field">
                        <input type="text" id="surname" name = "surname" placeholder="Soyisim" required>
                    </div>
                    <div class="field">
                        <input type="text" id="email" name = "email" placeholder="E-Posta Adresi" required>
                    </div>
                    <div class="field">
                        <input type="password" id="new-password" name="newPassword" placeholder="Yeni Şifre" required>
                    </div>
                    
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Şifreyi Sıfırla">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>