<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama</title>
    <link rel="stylesheet" href="style.css">
    
    <script>
        function validateForm() {
            var password = document.getElementById("new-password").value;
            if (password.length < 6) {
                alert("Şifre en az 6 karakter olmalıdır.");
                return false;
            }
            return true;
        }
    </script>

</head>
<body>
    <div class="reset-password-form">
        <h2>Şifre Sıfırlama</h2>
        <p>Şifrenizi sıfırlamak için gerekli bilgileri girin.</p>

        <form action="/forgot-password" method="post" onsubmit="return validateForm()">
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" required>

            <label for="surname">Soyadı:</label>
            <input type="text" id="surname" name="surname" required>

            <label for="email">E-Posta Adresi:</label>
            <input type="email" id="email" name="email" required>

            <label for="new-password">Yeni Şifre:</label>
            <input type="password" id="new-password" name="newPassword" required>

            <button type="submit">Şifreyi Sıfırla</button>
        </form>
    </div>
</body>
</html>