<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>Kitaplığım</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Header -->
    <%- include('partials/header', { activePage: 'books' }) %>

    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Kitap ismi ile ara
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" />
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i
              ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Kitaplar</h1>
    </div>
    <!-- Single Page Header End -->

    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Tüm Kitaplar</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">



                            <!-- buraya form ekledik -->
                            <form action="/kitapAra" method="post">

                                <div class="input-group w-100 mx-auto d-flex">
                                    <input type="search" class="form-control p-3" placeholder="Kitap adı girin" aria-describedby="search-icon-1" id="bookSearch" name="bookSearch" required/>
                                    <button type="submit"><span id="search-icon-1 " class="input-group-text p-3 "><i class="fa fa-search "></i></span></button>
                                </div>

                            </form>


                        </div>
                        <div class="col-6 "></div>
                        <div class="col-xl-3 ">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4 ">
                                <label for="fruits ">Default Sorting:</label>
                                <select id="fruits " name="fruitlist " class="border-0 form-select-sm bg-light me-3 " form="fruitform ">
                    <option value="volvo ">Önerilen</option>
                    <option value="saab ">En Çok Satan</option>
                    <option value="opel ">Yeni Çıkanlar</option>
                    <option value="audi ">En Çok Eklenen</option>
                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 ">
                        <div class="col-lg-3 ">
                            <div class="row g-4 ">
                                <div class="col-lg-12 ">
                                    <div class="mb-3 ">
                                        <h4>Listelerim</h4>
                                        <ul class="list-unstyled fruite-categorie ">
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name ">
                                                    <a href="# "><i></i>Okuyorum</a>
                                                    <span>(3)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name ">
                                                    <a href="# "><i></i>Okuyacaklarım</a>
                                                    <span>(5)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name ">
                                                    <a href="# "><i></i>Okuduklarım</a>
                                                    <span>(2)</span>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-12 ">
                                    <div class="position-relative ">
                                        <img src="img/books1.png " class="img-fluid w-100 rounded " alt=" " />
                                        <div class="position-absolute " style=" top: 50%; right: 10px; transform: translateY(-50%); ">
                                            <h3 class="text-secondary fw-bold ">
                                                Çok <br /> Satan <br /> Kitaplar
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 ">
                            <div class="row g-4 justify-content-center ">
                                <div class="col-md-6 col-lg-6 col-xl-4 ">
                                    <div class="rounded position-relative fruite-item ">
                                        <a href="book-details.html ">
                                            <div class="fruite-img ">
                                                <img src="img/martin-eden.jpg " class="img-fluid w-100 rounded-top " alt=" " />
                                            </div>
                                        </a>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute " style="top: 10px; left: 10px "></div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom ">
                                            <a href="book-details.html ">
                                                <h4>Martin Eden</h4>
                                            </a>
                                            <p class="text-dark fs-5 fw-bold mb-0 ">Jack London</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap ">
                                                <p>Türkiye İş Bankası Yayınları</p>
                                                <a href="# " class="btn border border-secondary rounded-pill px-3 text-primary "><i class="fa fa-shopping-bag me-2 text-primary "></i
                            >Listelerime Ekle</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/kara-kitap.jpeg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      ></div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Kara Kitap</h4>
                        <p class="text-dark fs-5 fw-bold mb-0 ">Orhan Pamuk</p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p>Yapı Kredi Yayınları</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i class="fa fa-shopping-bag me-2 text-primary "></i
                            >Listelerime Ekle</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/semerkant.jpeg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      ></div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Semerkant</h4>
                        <p class="text-dark fs-5 fw-bold mb-0 ">Amin Maalouf</p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p>Yapı Kredi Yayınları</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i class="fa fa-shopping-bag me-2 text-primary "></i
                            >Listelerime Ekle</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/fruite-item-4.jpg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      >
                        Fruits
                      </div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Apricots</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit sed do eiusmod te incididunt
                        </p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p class="text-dark fs-5 fw-bold mb-0 ">$4.99 / kg</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i
                              class="fa fa-shopping-bag me-2 text-primary "
                            ></i>
                            Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/fruite-item-3.jpg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      >
                        Fruits
                      </div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Banana</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit sed do eiusmod te incididunt
                        </p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p class="text-dark fs-5 fw-bold mb-0 ">$4.99 / kg</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i
                              class="fa fa-shopping-bag me-2 text-primary "
                            ></i>
                            Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/fruite-item-1.jpg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      >
                        Fruits
                      </div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Oranges</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit sed do eiusmod te incididunt
                        </p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p class="text-dark fs-5 fw-bold mb-0 ">$4.99 / kg</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i
                              class="fa fa-shopping-bag me-2 text-primary "
                            ></i>
                            Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/fruite-item-2.jpg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      >
                        Fruits
                      </div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Raspberries</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit sed do eiusmod te incididunt
                        </p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p class="text-dark fs-5 fw-bold mb-0 ">$4.99 / kg</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i
                              class="fa fa-shopping-bag me-2 text-primary "
                            ></i>
                            Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/fruite-item-5.jpg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      >
                        Fruits
                      </div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Grapes</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit sed do eiusmod te incididunt
                        </p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p class="text-dark fs-5 fw-bold mb-0 ">$4.99 / kg</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i
                              class="fa fa-shopping-bag me-2 text-primary "
                            ></i>
                            Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4 ">
                    <div class="rounded position-relative fruite-item ">
                      <div class="fruite-img ">
                        <img
                          src="img/fruite-item-1.jpg "
                          class="img-fluid w-100 rounded-top "
                          alt=" "
                        />
                      </div>
                      <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute "
                        style="top: 10px; left: 10px "
                      >
                        Fruits
                      </div>
                      <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom "
                      >
                        <h4>Oranges</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit sed do eiusmod te incididunt
                        </p>
                        <div
                          class="d-flex justify-content-between flex-lg-wrap "
                        >
                          <p class="text-dark fs-5 fw-bold mb-0 ">$4.99 / kg</p>
                          <a
                            href="# "
                            class="btn border border-secondary rounded-pill px-3 text-primary "
                            ><i
                              class="fa fa-shopping-bag me-2 text-primary "
                            ></i>
                            Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 ">
                    <div class="pagination d-flex justify-content-center mt-5 ">
                      <a href="# " class="rounded ">&laquo;</a>
                                                <a href="# " class="active rounded ">1</a>
                                                <a href="# " class="rounded ">2</a>
                                                <a href="# " class="rounded ">3</a>
                                                <a href="# " class="rounded ">4</a>
                                                <a href="# " class="rounded ">5</a>
                                                <a href="# " class="rounded ">6</a>
                                                <a href="# " class="rounded ">&raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fruits Shop End-->

    <!-- Footer -->
    <%- include(footer) %>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js "></script>
    <script src="lib/easing/easing.min.js "></script>
    <script src="lib/waypoints/waypoints.min.js "></script>
    <script src="lib/lightbox/js/lightbox.min.js "></script>
    <script src="lib/owlcarousel/owl.carousel.min.js "></script>

    <!-- Template Javascript -->
    <script src="js/main.js "></script>
  </body>
</html>