<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link href="css/style.css" rel="stylesheet" />
    <!-- Harici stil dosyasını bağlama -->
    
</head>

<body >

    <div class="wrapper">
    <div class="title-text">
        <div class="title login">Giriş Yap</div> <!--Başlıklar-->
        
    </div>
    <div class="form-container">
                            
        <div class="form-inner">
            <form action="/user/login" method="POST" class="login" >
                <div class="field">
                    <input type="email" name = "email" placeholder="E-Posta Adresi" required>
                </div>
                <div class="field">
                    <input type="password" name = "password" placeholder="Şifre" required>
                </div>
                <div class="pass-link"><a href="/forgot-password">Şifreni mi unuttun?</a></div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Giriş Yap">
                </div>
                <div class="signup-link">Üye değil misin? <a href="/signup">Şimdi Üye Ol</a></div>
            </form>
            <!--Giriş Kısmı-->
            
        </div>
    </div>


</body>

</html>