body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.login-form, .signup-form, .login-successful {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  color: #4CAF50;
  text-decoration: none;
}


.reset-password-form {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.reset-password-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-form p {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-form label {
  display: block;
  margin-bottom: 5px;
}

.reset-password-form input[type="text"],
.reset-password-form input[type="email"],
.reset-password-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-form button:hover {
  background-color: #0056b3;
}

.reset-password-form p a {
  color: #007bff;
  text-decoration: none;
}

.reset-password-form p a:hover {
  text-decoration: underline;
}
