<footer>
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <div class="d-flex flex-column text-center footer-item">
            <h4 class="text-light mb-3">Önemli Bilgiler</h4>
            <a class="btn-link" href="">Hakkımızda</a>
            <a class="btn-link" href="">Gizlilik Politikası</a>
            <a class="btn-link" href="">Şartlar & Koşullar</a>
            <a class="btn-link" href="">Sık Sorulan Sorular</a>
            <a class="btn-link" href="">Yardım</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="d-flex flex-column text-start footer-item">
            <h4 class="text-light mb-3">Önemli Sayfalar</h4>
            <a class="btn-link" href="/chackout">Hesap Bilgilerim</a>
            <a class="btn-link" href="/cart">Okuma Listelerim</a>
            <a class="btn-link" href="/prompt">KitAPI Bot</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-item">
            <h4 class="text-light mb-3">İletişim</h4>
            <p>Bursa Teknik Üniversitesi Mimar Sinan Yerleşkesi</p>
            <p>Email: bilgisayar@btu.edu.tr</p>
            <p>Telefon: (0224) 300 32 32</p>
            <div
              class="pb-4 mb-4"
              style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)"
            >
              <div class="row g-4">
                <div class="d-flex justify-content-start pt-3">
                  <a
                    class="btn btn-outline-secondary me-2 btn-md-square rounded-circle"
                    href="https://github.com/KitAPI-YAZMUH"
                    target="_blank"
                    ><i class="fab fa-github"></i
                  ></a>
                  <a
                    class="btn btn-outline-secondary btn-md-square rounded-circle"
                    href="https://www.linkedin.com/school/btuedu/"
                    target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Copyright Start -->
  <div class="container-fluid copyright bg-dark py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <span class="text-light"
            ><a href="#"
              ><i class="fas fa-copyright text-light me-2"></i>KitAPI</a
            >, Tüm Hakları Saklıdır</span
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

  <!-- Back to Top -->
  <a
    href="#"
    class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
    ><i class="fa fa-arrow-up"></i
  ></a>
</footer>
